body {
    background-color: #e5e5e5;
    display: flex;

}
.content {
    background-color: #f4efef;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
   
    
}

.rose {
    background-color: #c2adad;
    order: 1;
    max-width: 400px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;


}

header, main, section, footer {
    font-family: "fira mono" ;
 

}

    
    

span {
    font-family: "fira code";
    font-weight: 600;
    color: #3a343c;
}
header, a {
    color: #847490;

}
.main-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-left: 6rem;

}

header {
    
    margin: 1rem;
    padding: 0.5rem;

   }

footer {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.blue {
    color: #8AA7D3;
}
img {
    padding-left: 80px ;
}
section {
    padding-left: 2rem;
    color: #EFE8E8 ;
}
button {
border: none;
cursor: pointer;
}
button :hover {
    background-color : #e7e7e7
}