body {
    background-color: #e5e5e5;

}
.content {
    background-color: #f4efef;
    
   
    
}

.rose {
    background-color: #c2adad;


}

header, main, section, footer {
    font-family: "fira mono" ;
 

}

    
    

span {
    font-family: "fira code";
    font-weight: 600;
    color: #3a343c;
}
header, a {
    color: #847490;

}